body {
    font-family: "Poppins", sans-serif;
}

#chill {
    display: flex;
    align-items: center;
}

#icon {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

#item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #b19cd9;
    position:fixed;
    top: 100px;
    bottom: 80px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    color:black;
}

#content {
    margin-left: 220px;
    margin-top: 50px;
}

h2 {
    margin-left: 30px;
}

#pic {
    width: 320px;
    height: 180px;
}

p {
    margin-top: -5px;
}

#one {
    margin-left: 550px;
    margin-top: -360px;
}

#two {
    margin-left: 550px;
    margin-top: 40px;
}

#three {
    margin-left: 920px;
    margin-top: -465px;
}

#four {
    margin-left: 920px;
    margin-top: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #b19cd9;
    position: fixed;
    bottom: 0;
    width: 100%;
}