body {
    font-family: "Poppins", sans-serif;
}

#home {
    display: flex;
    align-items: center;
    
}

#icon {
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

h1 {
    margin: 0px;
}

#info {
    display:flex;
    flex-direction: column;
    margin-left: 180px;
}

#infor1{
    margin-top: 10px;
    
}

#ava {
    align-self: flex-start;
    margin-top: 11px;
    border: #b19cd9;
}

#item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #b19cd9;
    position:fixed;
    top: 100px;
    bottom: 80px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    color:black;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #b19cd9;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#content {
    display:flex;
    flex-wrap: wrap;
    margin-left: 40px;
}

#one, #two {
    width: 280px;
    height: 200px;
    margin: 10px 40px 20px 70px;
}

#three, #four {
    width: 280px;
    height: 200px;
    margin: 10px 40px 20px 70px;
}
